#slides-loading {
	margin: 0px auto;
	vertical-align: middle;
	text-align:center;
	position:absolute;
	top:30%;
	left:0px;
	right:0px;
	z-index:200;
	padding-top: 40px;
	display:block;
	opacity:1;
	pointer-events: none;
	transition:opacity 1s ease-in;
}

#slides-lightbox-bg *
{
	font-family: sans-serif;
	color:white;
}

#slides-img {
	margin: 0px auto;
	/*padding-bottom: 4vw;*/
	width:100%;
	z-index:400;
	position:relative;
}

#slides-img-height {
	border: 0px solid #182535;
	border-bottom-width: 15px;
	overflow:hidden;
	transition:height 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

#slides-controls, #slides-img-container {
	margin: 0px auto;
	box-sizing: border-box;
	position: absolute;
	border-radius: 2px;

	/*acts like "min distance from left, right and bottom" and "center horicontaly"*/
	/*top and bottom are also vw, so that the distance is the same on all screen edges*/
	left: 2vw;
	right: 2vw;
	bottom: 2vw;
	top: 2vw;

	max-width: 850px;
	width: 850px;
	background: #182535;
}

#slides-img-container {
	box-shadow: 0px 3px 6px RGBa(0,0,0,0.4);
	max-height: 100%;
	padding:0px;
	/*60-1 to prevent the 1px transparent slit that appears sometimes*/
	border-top: 0px solid #182535;
	box-sizing:border-box;
	/*should have high radius, to prevent overlapping antialiasing from the controls and the img-container*/
	border-top-left-radius:4px;
	border-top-right-radius:4px;

	/*it's hidden because the javascript will imitate the 'auto' setting*/
	/*this is done because then the scrollbar can be displayed while the height is still transitioning*/
	/*which makes it more smooth because the image won't jump in size because of a suddenly appearing scrollbar*/
	overflow-y: hidden;
}

#slides-img-container.tallImage {
	overflow-y:scroll;
}

#slides-controls {
	/*height: 60px;*/ /*now configured in the .js file*/
	padding: 10px 0px;
	z-index: 500;
	/*bottom: 0px;
	left: 6vw;
	right: 6vw;
	max-width:850px;*/
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

#slides-controls #slides-previous,
#slides-controls #slides-previousOff,
#slides-controls #slides-next,
#slides-controls #slides-nextOff {
	padding:10px 6%;
	display: inline-block;
	width: 40px;
	vertical-align: top;
	margin-bottom: -10px;
	top: -1px;
	font-size: 15px;
	line-height: 42px;
	position:absolute;
}

#slides-caption {
	position: absolute;
	top: 2vw;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	max-width: 500px;
	width: 500px;
	line-height: 60px;
	pointer-events: none;
	z-index: 550;
}

#slides-controls #slides-previous,
#slides-controls #slides-previousOff {
	left:0px;
	padding-left:20px;
}

#slides-controls #slides-next,
#slides-controls #slides-nextOff {
	right:0px;
	padding-right:20px;
}

#slides-controls #slides-previous:before,
#slides-controls #slides-previousOff:before {
	content: "back";
}

#slides-controls #slides-next:before,
#slides-controls #slides-nextOff:before {
	content: "next";
}

#slides-previousOff,
#slides-nextOff {
	cursor:default;
}

.opacity0 {
	opacity:0;
}

.slides-hidden {
	display:none !important;
}

.slides-noopacity {
	opacity:0 !important;
	transition:none !important;
}

img[zoom] {
	cursor:pointer;
	border-radius: 2px;
	position:relative;
}

#slides-lightbox-bg {
	/*display: none;*/
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: RGBa(128,128,128,0.7);
	height: 100%;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	z-index: 100;
	max-width: 100vw !important;
	right: auto !important;
	width: 100vw !important;
	transition:opacity 0.2s ease-in-out;
}

#slides-lightbox-bg.open {
	opacity: 1;
	display: block;
	pointer-events: all;
	max-height: 100vh;
}

#slides-lightbox-bg:not(.loaded) #slides-centering {
	opacity:0;
	pointer-events: none;
}

#slides-centering {
	display: block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
	max-width: 100vw;
	margin: 0px auto;
	position: relative;
	transition:opacity 0.2s ease-in-out;
}

#slides-caption-responsive
{
	display:none;
}

@media screen and (max-width:850px) {
	#slides-caption
	{
		display:none;
	}

	#slides-caption-responsive
	{
		display:block;
		margin-bottom:20px;
	}

	#slides-controls
	{
		left:2vw;
		right:2vw;
	}
}


/**
 * IE needs the width to be set for centering by position:absolute.
 * But a set width will make the page less responsive, that means it has do be
 * disabled again at some point
 */
@media screen and (max-width:890px) {
	#slides-controls, #slides-img-container {
		width: auto;
	}
	
	#slides-caption {
		width: auto;
	}
}


@media screen and (min-height:775px) {
	#slides-img-container img {
		padding-bottom:0px;
	}

	#slides-img-container {
		bottom:auto;
		/*max-height: 80vh;*/
	}
}


@media screen and (max-height:774px) {
	#slides-img-container {
		max-height: none !important;
	}
}
